
/node_modules





*.map

# 环境变量文件
.env
.env.local
.env.*.local


.idea
*.suo
*.ntvs*
*.njsproj
*.sln


pids
*.pid
*.seed
*.pid.lock

# 目录环境文件
.env
.env.test


npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea
.vscode
*.swp
*.swo


.DS_Store
Thumbs.db


npm-debug.log*
*.log
*.csv
*.dat
*.out
*.pid
*.gz


Thumbs.db


.DS_Store
.AppleDouble
.LSOverride


.yarn-integrity
